<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Olá <%= user %>!</h1>
    </header>

    <div class="container">
        <h3>ir para: <a href="/create-user">criação de usuário</a> ou <a href="/login">login</a></h3>
    </div><!-- container -->
</body>
<script src="../public/JS/users_js/JQuery.e.js"></script>
<script src="../public/JS/JQuery.js"></script>
<script src="../public/JS/home.js"></script>
</html>